$gradientButtonFirst: #ff5637;
$gradientButtonSecond: #f7084c;
$effectDuration: 0.3s;
$desktop-min-width: 1024px;
$textColor: #fff;
$pageColor: #030d19;
$tablet-min-width: 768px;
$transition: $effectDuration;
